<h6>
	<%= link_to "Forums", prattle.root_path %> /
	<%= link_to @topic.forum.category.name, @topic.forum.category %> /
	<%= link_to @topic.forum.name, [@topic.forum.category, @topic.forum] %>
	<div class="pull-right">
		<%= link_to 'Recent Posts', show_recent_topics_path, class: "btn btn-sm btn-default" %>
	</div>
</h6>
<h1 style="margin-top:0px"><%= @topic.subject %></h1>

<p><%= link_to 'Edit Topic', edit_category_forum_topic_path(@topic.forum.category, @topic.forum, @topic), class: "btn btn-sm btn-danger" %></p>

<% if @topic.posts.empty? %>
	<p>There are no posts in this topic yet.</p>
<% else %>

	<%= will_paginate @posts, :renderer => BootstrapPagination::Rails, class: 'pagination-sm'   %>

	<%= render partial: @posts %>

	<%= will_paginate @posts, :style => "margin-top: 0px", :renderer => BootstrapPagination::Rails, class: 'pagination-sm'   %>

	<%= render "prattle/posts/quick_form" %>

<% end %>

