<h6>
	<%= link_to "Forums", prattle.root_path %> /
	<%= link_to @topic.forum.category.name, @topic.forum.category %> /
	<%= link_to @topic.forum.name, [@topic.forum.category, @topic.forum] %>
	<%= render "prattle/shared/menu" %>
</h6>
<h1 style="margin-top:0px">
	<%= @topic.formatted_subject %>
</h1>

<% if prattle_admin? %>
	<p>
		<%= link_to 'Edit Topic', edit_category_forum_topic_path(@topic.forum.category, @topic.forum, @topic), class: "btn btn-sm btn-danger" %>
		<% if @topic.locked %>
			<%= link_to 'Unlock', category_forum_topic_unlock_path(@topic.forum.category, @topic.forum, @topic), class: "btn btn-sm btn-danger" %>
		<% else %>
			<%= link_to 'Lock', category_forum_topic_lock_path(@topic.forum.category, @topic.forum, @topic), class: "btn btn-sm btn-danger" %>
		<% end %>
	</p>
<% end %>

<% if @topic.posts.empty? %>
	<p>There are no posts in this topic yet.</p>
<% else %>

	<%= will_paginate @posts, :renderer => BootstrapPagination::Rails, class: 'pagination-sm'   %>

	<%= render partial: @posts %>

	<%= will_paginate @posts, :style => "margin-top: 0px", :renderer => BootstrapPagination::Rails, class: 'pagination-sm'   %>

	<% unless @topic.locked %>
		<%= render "prattle/posts/quick_form" %>
	<% end %>

<% end %>

