<h1>Forums / <%= link_to @topic.forum.category.name, @topic.forum.category %> / <%= link_to @topic.forum.name, [@topic.forum.category, @topic.forum] %> / <%= @topic.subject %></h1>

<p><%= link_to 'Edit Topic', edit_category_forum_topic_path(@topic.forum.category, @topic.forum, @topic), class: "btn btn-sm btn-danger" %></p>

<% if @topic.posts.empty? %>
	<p>There are no posts in this topic yet.</p>
<% else %>

	<%= will_paginate @posts, :renderer => BootstrapPagination::Rails %>

	<% @posts.each do |post| %>

		<div class="panel panel-default">
			
			<div class="panel-heading">
				<h1 class="panel-title">
					<%= post.user || "Deleted User" %>
					<div class="pull-right"><a name="post<%= post.topic_position %>"><%= post.topic_position %></a></div>
				</h1>
			</div>

			<div class="panel-body">
				<div class="row">
					<div class="user col-md-2">
						<%= post.created_at.strftime("%d %B %Y") %> - <%= post.created_at.strftime("%H:%M") %>
					</div>
					<div class="user col-md-7">
						<%= format_post_text(post.text) %>
					</div>
				</div>
			</div>
		</div>

	<% end %>

	<%= will_paginate @posts, :style => "margin-top: 0px", :renderer => BootstrapPagination::Rails %>

	<%= render "prattle/posts/form" %>

<% end %>

