<% if @forum %>
	<h6>
		<%= link_to "Forums", prattle.root_path %> / <%= link_to @forum.category.name, @forum.category %>
		<%= render "prattle/shared/menu" %>
	</h6>
	<h1 style="margin-top:0px"><%= @forum.name %></h1>
	<p><%= @forum.description %></p>
	<p>
		<% if prattle_admin? %>
			<%= link_to 'Edit Forum', edit_category_forum_path(@forum.category, @forum), class: "btn btn-sm btn-danger" %>
		<% end %>
		<%= link_to 'New Topic', new_category_forum_topic_path(@forum.category, @forum), class: "btn btn-sm btn-primary" %>
		<%= link_to 'Mark All Posts As Read', category_forum_mark_as_read_path(@forum.category, @forum), class: "btn btn-sm btn-primary", onclick: "$(this).button('loading');" %>
	</p>
<% else %>
	<h6><%= link_to "Forums", prattle.root_path %>
		<%= render "prattle/shared/menu" %>
	</h6>
	<h1 style="margin-top:0px">Recent Posts</h1>
<% end %>

<% if @forum && @forum.topics.empty? %>
	<p>There are no topics in this forum yet.</p>
<% else %>

	<%= will_paginate @topics, :renderer => BootstrapPagination::Rails, class: 'pagination-sm'  %>

	<table class="table table-striped table-condensed">
		<tbody>
		  <% @topics.each do |topic| %>
		    <tr>
		      <td>
		      	<h4>
		      		<%= link_to topic.formatted_subject, category_forum_topic_path(topic.forum.category, topic.forum, topic) %>
		      		<% if show_new_marker(topic, @prattle_user) %>
		      			<span class="badge">
		      				<%= link_to_latest_unread_post(topic, @prattle_user) %>
		      			</span>
		      		<% end %>
		      	</h4>
		      	<% unless @forum %>
		      		Posted in: <%= link_to topic.forum.name %><br/>
		      	<% end %>
		      	Started by <%= topic.posts.first.user %>, <%= topic.posts.first.created_at.strftime("%d %B %Y") %>
		      </td>
		      <td>Last post by <%= topic.posts.last.user if topic.posts.last %><br/>
		      	on <%= topic.posts.last.created_at.strftime("%d %B %Y") if topic.posts.last %> - 
		      	<%= topic.posts.last.updated_at.strftime("%H:%M") if topic.posts.last %></td>
		      <td>
		      	<span class="badge"><%= topic.posts.count %></span> posts<br/>
		      	<span class="badge"><%= topic.view_count %></span> views
		      </td>
		    </tr>
		  <% end %>
		</tbody>
	</table>

	<%= will_paginate @topics, :renderer => BootstrapPagination::Rails, class: 'pagination-sm'  %>
	
<% end %>