<h1>Forums / <%= @category.name %></h1>
<p><%= @category.description %></p>
<p>
	<%= link_to 'Edit Category', edit_category_path(@category), class: "btn btn-sm btn-danger" %>
	<%= link_to 'New Forum', new_category_forum_path(@category), class: "btn btn-sm btn-danger" %>
</p>

<% if @category.forums.empty? %>
	<p>There are no forums in this category yet.</p>
<% else %>

	<table>
		<thead>
		  <tr>
		    <th>Forum</th>
		    <th>Topics</th>
		    <th>Posts</th>
		    <th>Views</th>
		  </tr>
		</thead>
		<tbody>
		  <% @category.forums.each do |forum| %>
		    <tr>
		      <td><h3><%= link_to forum.name, category_forum_path(@category, forum) %></h3><%= forum.description %></td>
		      <td><%= forum.topics.count %></td>
		      <td><%= forum.posts.count %></td>
		      <td></td>
		    </tr>
		  <% end %>
		</tbody>
	</table>
<% end %>

<p><%= link_to 'View Categories', categories_path, class: "btn btn-sm btn-primary"  %></p>