<h1><%= link_to "Forums", prattle.root_path %> / <%= @category.name %></h1>

<p><%= @category.description %></p>
<% if prattle_admin? %>
	<p>
		<%= link_to 'Edit Category', edit_category_path(@category), class: "btn btn-sm btn-danger" %>
		<%= link_to 'New Forum', new_category_forum_path(@category), class: "btn btn-sm btn-danger" %>
	</p>
<% end %>

<% if @category.forums.empty? %>
	<p>There are no forums in this category yet.</p>
<% else %>

	<table class="table table-striped table-condensed">
		<tbody>
		  <% @category.forums.by_name.each do |forum| %>
		    <tr>
		      	<td><h3><%= link_to forum.name, category_forum_path(@category, forum) %></h3><%= forum.description %></td>
				<td>
		      		<span class="badge"><%= forum.topics.count %></span> topics<br/>
		      		<span class="badge"><%= forum.posts.count %></span> posts
				</td>
		    </tr>
		  <% end %>
		</tbody>
	</table>

<% end %>